In [160]:
import pandas as pd

In [ ]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apple', 'bread', 'milk'])
groceries

In [ ]:
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')

In [ ]:
print('The data in Groceries is:', groceries.values)
print('The index of Groceries is:', groceries.index)

In [ ]:
'egg' in groceries

## 05. Accessing and Deleting Elements in Pandas Series

### Accessing

In [ ]:
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) #mutliple access
print('How many eggs do we need to buy:', groceries['eggs']) #single acess
print()

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]]) 

# We change the number of eggs to 2
groceries['eggs'] = 2

### Deleting

In [ ]:
# Series.drop('item') does not modify the original series
# Series.drop('item', inplace = True) modifies the original series

In [ ]:
# We remove apples from our grocery list. The drop function removes elements out of place
print()
print('We remove apples (out of place):\n', groceries.drop('apples'))

## 06. Arithmetic Operations on Pandas Series

In [ ]:
fruits = pd.Series(data = [10, 3, 9], index = ['apple', 'orange',  'banana'])
print('fruits + 2\n', fruits + 2)
print()
print('fruits - 2\n', fruits - 2)
print()
print('fruits * 2\n', fruits * 2)
print()
print('fruits / 2\n', fruits / 2)
print()


# We apply different mathematical functions to all elements of fruits
print()
print('EXP(X) = \n', np.exp(fruits))
print() 
print('SQRT(X) =\n', np.sqrt(fruits))
print()
print('POW(X,2) =\n',np.power(fruits,2)) # We raise all elements of fruits to the power of 2


# We add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas'] + 2)
print()

# We subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)
print()

# We multiply apples and oranges by 2
print('We double the amount of apples and oranges:\n', fruits[['apples', 'oranges']] * 2)
print()

# We divide apples and oranges by 2
print('We half the amount of apples and oranges:\n', fruits.loc[['apples', 'oranges']] / 2)

groceries * 2

### Lesson 08 - Creating Pandas DataFrames

In [ ]:
# Creating dictionary using. Pandas Series
item1 = {'Brian' : pd.Series(data = [300, 400, 500, 1000],  index = ['watch', 'wallet', 'whooper', 'kitty']), 
         'David' : pd.Series(data = [100, 200, 300, 400], index = ['watch', 'wallet', 'ice-cream', 'books'])}

# Creating dictionary using arrays 
item2 = {'Integers' : [1, 2, 3], 
         'Floating points' : [1.1 , 1.2, 1.3]}

#Creating python dictionaries
item3 = [{'bikes' : 100, 'cars' : 200, 'planes' : 1000}, 
         {'beer' : 4, 'speed' : 3, 'alovera' : 7}]

shopping_carts = pd.DataFrame(item1)
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

# df1 = pd.DataFrame(item1, columns = ['Brian'])
# df1 = pd.DataFrame(item1, index = ['wallet', 'watch'])
# df1 = pd.DataFrame(item1, index = ['wallet', 'watch'], columns = ['Brian'])

df2 = pd.DataFrame(item2)
#df2 = pd.DataFrame(item2, index = ['one', 'two', 'three'] )

## Lesson 09 - Accessing Elements in Pandas DataFrames

In [ ]:
store_dict = [{'shirts' : 10, 'jeans' : 10, 'watches' : 15, 'shoes' :  20},
              {'shirts' : 20, 'jeans' : 25, 'watches' : 5, 'shoes' :  10}]
store_df = pd.DataFrame(store_dict, index = ['store1', 'store2'])

In [ ]:
store_df[['shirts', 'shoes']]
store_df['shirts']['store1']  # dataframe[column][row].

# Inserting
store_df['swimsuit'] = [15, 20]
store_df['tanktops'] = store_df['jeans'] + store_df['shoes']

newStore_dict = pd.Series(data = [1, 2, 3, 4,  5, 6],  index = ['shirts', 'jeans', 'watches', 'shoes',  'swimsuit', 'tanktops'])
newStore_df = pd.DataFrame(store_dict, index = ['store3', 'store4'])

store_df = store_df.append(newStore_df)

In [ ]:
# dataframe.insert(loc,label,data)
store_df.insert(4, 'new-shoes', store_df['watches'][1:]) # insert a new column using data from particular rows in the watches column

In [ ]:
store_df.set_index('shoes')

In [ ]:
store_df

In [ ]:
# Delete columns and indices 
store_items.pop('new watches')
store_items = store_items.drop(['watches', 'shoes'], axis = 1)
store_items = store_items.drop(store_items.columns, axis = 1, inplace = True) # delete all columns
store_items = store_items.drop(store_items.index, axis = 1, inplace = True) # delete all rows 

# Renaming columns and index 
store_df = store_df.rename(columns = {'new-shoes' : 'newshoes'})
store_df = store_df.rename(index = {'tanktops' : 'tankies'})

## Lesson 10 - Dealing with NaN

In [161]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
          {'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}
         ]
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [162]:
# count nan 
store_items.isnull().sum().sum()
store_items.isnull()

#count not nan
store_items.count()

#  remove nan values from rows and columns
#store_items.dropna(axis = 1)
#store_items.dropna(axis = 0)

#store_items.fillna(0)
store_items.fillna(method = 'ffill', axis = 0) #forward filling
store_items.fillna(method = 'backfill', axis = 1) #backward filling

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0      NaN
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    10.0   10.0    4.0      4.0

In [176]:
store_items.at['store 1', 'glasses'] = 1 # update dataframe

In [186]:
e = [{'hat' : 10}]
e_df =  pd.DataFrame(e, index = ['store 4'])
store_items = store_items.append(e_df)
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses   hat
store 1   20.0   30.0     35.0    15.0    8.0   45.0      1.0   NaN
store 2   15.0    5.0     10.0    10.0    5.0    7.0     50.0   NaN
store 3   20.0   30.0     35.0     1.0   10.0    1.0      4.0   NaN
store 4    NaN    NaN      NaN     NaN    NaN    NaN      NaN  10.0
store 4    NaN    NaN      NaN     NaN    NaN    NaN      NaN  10.0

In [188]:
store_items.interpolate(method = 'linear', axis = 1) # fillling NaN by interpolating

         bikes  pants  watches  shirts  shoes  suits  glasses   hat
store 1   20.0   30.0     35.0    15.0    8.0   45.0      1.0   1.0
store 2   15.0    5.0     10.0    10.0    5.0    7.0     50.0  50.0
store 3   20.0   30.0     35.0     1.0   10.0    1.0      4.0   4.0
store 4    NaN    NaN      NaN     NaN    NaN    NaN      NaN  10.0
store 4    NaN    NaN      NaN     NaN    NaN    NaN      NaN  10.0

## Lesson 12 - Loading Data into a Pandas DataFrame

In [198]:
google_df = pd.read_csv('GOOG.csv')
google_df.isnull().any()
google_df.describe()
google_df['Low'].describe()
google_df.max()
google_df['Low'].max()
google_df.corr()

# dataframe.groupby(['Year'])['Salary'].sum()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000